.question {
  box-shadow: 5px 7px 23px 0px rgba(58, 52, 82, 0.3);
  background: white;
  padding: 20px;
  margin-bottom: 40px;
  h3 {
    margin-bottom: 10px;
  }
}

.btnActions {
  width: 650px;
  display: flex;
  // justify-content: flex-end;
  margin-top: 20px;
  button {
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(0, 59, 0);
    font-weight: bold;
    background: rgb(0, 255, 0);
  }
}
.cases {
  flex-grow: 1;
  > ul {
    > li {
      background: white;
      display: block;
      margin-bottom: 20px;
      border-radius: 3px;
      color: rgb(0, 255, 0);
      font-weight: bold;
    }
  }
}
.caseTitle {
  padding: 15px;
  box-shadow: 5px 7px 23px 0px rgba(58, 52, 82, 0.13);
  cursor: pointer;
}

.err {
  padding: 20px;
  border-radius: 3px;
  border: 2px solid #e74c3c;
  font-weight: bold;
  background: white;
  margin-top: 20px;
  color: #e74c3c;
}

.caseDetail {
  padding: 15px;
  color: #333;
  span {
    background: rgba(58, 52, 82, 0.15);
    border-radius: 2px;
    margin-top: 6px;
    padding: 8px;
    display: block;
    box-shadow: inset 5px 7px 23px 0px rgba(58, 52, 82, 0.1);
  }
}
.rotate {
  animation: rotate 0.9s forwards linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
